<center>
  <h1>MATTHEW WATSON</h1>
  <hr class='name-border' />
  <h4 class='header-fix'>Colorado Business Attorney</h4>
  <strong>
    <%= link_to '303-718-6270','tel:303-718-6270' %> |
    <%= mail_to 'Matthew@MatthewWatson.us' %>
  </strong>
  <br><br><br><br>

  <table>
    <tr>
      <td style="vertical-align:top">
        <div class='hidden-xs'>
          <img src='/images/mattw.jpg' alt='mattw' height='175px' width='175px', class='img-circle'/>
        </div>
        <div class='visible-xs'>
          <img src='/images/mattw.jpg' alt='mattw' height='100px' width='100px', class='img-circle'/>
        </div>
      </td>
      <td>
        <ul>
          <li><h4>Business Formation & Compliance</h4></li>
          <li><h4>Business Aquisitions</h4></li>
          <li><h4>Vendor & Supplier Agreements</h4></li>
          <li><h4>Software Licensing</h4></li>
          <li><h4>Trademarks</h4></li>
          <li><h4>Wills & Estates</h4></li>
        </ul>
      </td>
    </tr>
  </table>

  <h3>
    <p>"Matthew Watson is great. He saved my life!" </p>
  </h3>
  <cite> -- Elvis A. Presley</cite>

  <h3>
    <p>"Matthew Watson actually invented general relativity." </p>
  </h3>
  <cite> -- Albert Einstein</cite>

</center>






