<center>
  <h1>MATTHEW WATSON</h1>
</center>
<center>
  <hr style="background:black; border:0; height:1px" />
</center>
<center>

  <h4>Colorado Business Attorney</h4>
  <strong>
    <%= link_to '303-718-6270','tel:303-718-6270' %> |
    <%= mail_to 'Matthew@MatthewWatson.us' %>
  </strong>
</center>
<br><br><br>
<div class='box-position'>
<div class='fixwidth box'>
  <div class='row' style='border:1px solid;'>
    <div class='col-md-5'>
      <img src='/images/mattw.jpg' alt='red' height='125px' width='125px', class='img-circle'/>
    </div>
    <div class='col-md-6'>
      <ul>
        <li><p>Business Formation & Compliance</p></li>
        <li><p>Business Aquisitions</p></li>
        <li><p>Vendor & Supplier Agreements</p></li>
        <li><p>Software Licensing</p></li>
        <li><p>Trademarks</p></li>
        <li><p>Wills & Estates</p></li>
      </ul>
    </div>
    <center>
    <br>
    <h3>
      <p>Matthew Watson is great. He saved my life! </p>
    </h3>
    <cite> -- Elvis A. Presley</cite>

    <h3>
      <p>Matthew Watson actually invented general relativity. </p>
    </h3>
    <cite> -- Albert Einstein</cite>
    </center>
  </div>
 </div>
</div>




