// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

$lightgrey: #999;

html {
  overflow-y: scroll;
  background-color: #2D2D2D;
}

body {
  padding-top: 0px;
  background-color: #2D2D2D;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6, p, cite, strong, address {
  line-height: 1;
  font-family: 'Lucida Grande';
  color: white;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 0px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}

h4 {
  margin-top: 0px;
  margin-bottom: 25px;

}

.header-color {
  color: #BB1232
}

P {
  font-size: 1.1em;
  line-height: 1.7em;
}

hr {
    padding: 0px;
    margin-top: 0px;
    width: 60%;
}

.table-width-desktop {
  width: 60%;
  margin: 0 auto;
}

.btn-primary { border-color: #306DC0; background-color:  #306DC0; }

.btn-primary:hover { border-color: #BB1232; background-color: #BB1232; }
