// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@font-face{
   font: {
        font-family: '‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;';
        font-weight: normal;
        font-style: normal;
    }
}

/* universal */

$lightgrey: #999;

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}

P {
  font-size: 1.1em;
  line-height: 1.7em;
}

hr {
    padding: 0px;
    margin-top: 0px;
    width: 40%;
}
/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightgrey;  //defined via bootstrap-sass gem
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .fixwidth {
    width: 375px;
    margin: 0 auto;
  }

  .box-position {
    position:absolute;
    top: 33%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .fixwidth {
    width: 95%;
    margin: 0 auto;
  }

  .box-position {
    position:absolute;
    top: 33%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.box {
  background-color:#FFFFFF;
}
